<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base.html::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>

<section >

    <div class="card ml-3 mr-3">
        <div class="card-body">

            <div  class="text-center">
                <img  src="/images/profile1.png" width="180" height="180">
            </div>

            <div style="margin-top: 1cm;">
                <h1 class="text-center" th:text=" 'Welcome, ' + ${user.name}" ></h1>
                <h1 class="text-center" >Start adding your contacts on Cloud Platform </h1>
            </div>
            <div class="text-center" style="margin-top: 1cm;" >
                <a th:href="@{/user/AddContacts}"><button style="width: 5cm;" class="btn btn-primary "  >Add Contacts</button></a>
            </div>

        </div>
    </div>

</section>



</body>
</html>