<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base.html::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title >HomePage</title>
</head>
<body>

<section style="padding: 30px;" class="banner d-flex justify-content-center align-items-end ">
    <div class="text-center">
        <h1 class="font-weight-bold"> Smart Contact Manager</h1>
        <p>Start Collecting your contacts in efficient and smarter way.</p>
        <p>We provide very efficient and smarter way of handling contacts.</p>



        <button class="btn btn-primary btn-lg"> Get Start </button>

    </div>
</section>


</body>
</html>